In [1]:
import pandas as pd
import numpy as np

In [2]:
%run lmtd.py

In [7]:
##Create Temperature and Mass Flow Rate DataFrame

# Mass flow rate [kg/s] from hot and cold fluids
m_rate_hot = [0.02, 0.03, 0.04, 0.05, 0.04]
m_rate_cold = [0.03, 0.03, 0.03, 0.02, 0.02]

# Temperature from 4 termopars t1, t2, t3, t4 [°C]
t1_in_hot = [53, 53, 52, 52, 52.2]
t2_out_hot = [41.5, 42.5, 42.6, 43.5, 43.3]
t3_in_cold = [26.5, 26.5, 26.2, 26.2, 26.2]
t4_out_cold = [29.2, 30, 30, 30.2, 31]

# Create data dictionary
d = {   'Mass Flow Rate Hot [kg/s]': m_rate_hot,
        'Mass Flow Rate Cold [kg/s]': m_rate_cold,
        'Temperature Hot In [°C]': t1_in_hot,
        'Temperature Hot Out [°C]': t2_out_hot,
        'Temperature Cold In [°C]': t3_in_cold,
        'Temperature Cold Out [°C]': t4_out_cold
    }

# Create df

df = pd.DataFrame(data=d)

In [8]:
df

,Mass Flow Rate Hot [kg/s],Mass Flow Rate Cold [kg/s],Temperature Hot In [°C],Temperature Hot Out [°C],Temperature Cold In [°C],Temperature Cold Out [°C]
0,0.02,0.03,53.0,41.5,26.5,29.2
1,0.03,0.03,53.0,42.5,26.5,30.0
2,0.04,0.03,52.0,42.6,26.2,30.0
3,0.05,0.02,52.0,43.5,26.2,30.2
4,0.04,0.02,52.2,43.3,26.2,31.0